@import "grid";
@import "variables";

.header {
  @extend %container;
  width: 100%;
  &__menuDesk {
    @extend %flex;
    justify-content: flex-start;

    margin-bottom: 14px;
    ul li{
      display: inline-block;
    }
  }
  &__logo {
    @extend %flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 20px 0;
    height: 100px;
  }
  &__menu-mobile {
    display: none;
    border-bottom: 2px solid #F7B617;
    padding: 10px 0;
    height: 42px;
    margin-bottom: 30px;
    .logo img{
      width: 100%;
    }
    .search {
      margin-top: 7px;
      float: right;
    }
  }
}

//News
.news {
  margin: 0 4%;
  @extend %flex;
  flex-flow: wrap;
  &__menu{
    background-color: #F7B617;
    padding: 10px 0;
    ul {
      @extend %flex;
      justify-content: space-around;
      li {color: #fff;}
    }
  }
  &__main {
    position: relative;
    div {
      position: absolute;
      bottom: 30px;
      left: 3%;
      h1,h3 {
        color: #fff;
      }
      h1 {
        font-size: 2rem;
      }
    }
    img {
      width: 100%;
      height: 350px;
    }
  }
  .row {
    margin-bottom: 3%;
  }
  &__img {
    padding: 1%;
    img {
      width: 100%;
      height: 100%;
    }
    h4 {
      color: #fff;
    }
  }
  &__title {
    @extend %flex;
    padding-left: 30px;
    justify-content: flex-start;
    background-color: #2B2B2B;
    height: 102px;
  }
  &__category {
    margin-bottom: 30px;
    hr {
      width: 60px;
      height: 7px;
      background-color: #F7B617;
      border: none;
    }
  }

}

.footer {
  margin: 0 5%;
  @extend %flex;
  background-color: #F7B617;
  p,a,span {
    color: #fff;
    font-size: .8rem;
  }

  &__content {
    @extend %flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    padding-left: 20px;
    height: 300px;
    border-left: 1px solid #ffffff;
    ul li {
      line-height: 14px;
      margin-bottom: 20px;
    }
  }

}

@media (max-width: 767px) {
  // Header
  .show-xs {
    display: block;
  }
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 768px) {
  .hidden-md {
    display: none;
  }
}